<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>recorder.js</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .head{
    text-decoration: none;
    margin-left: 40px;
    margin-top: 40px;

}
a{
    text-decoration: none;
}
.footer{
    margin-top: 40px;
    background: #4E5465;
    text-decoration: none;
    color: #DCDCDC;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 40px;
}
.bottom{
    margin-left: 40px;
}

    </style>

</head>

<body>
    <h1 style="text-align:center">医院导诊系统</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
         <img src="../static/school.jpg" width="150" height="30">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a class="navbar-brand" href="#">你好</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link " href="/">首页<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link " href="query">导航</a>
                <a class="nav-item nav-link active" href="map">查看分布图</a>
                <a class="nav-item nav-link " href="introduction">诊室简介</a>
            </div>
        </div>
    </nav>
    <img src="../static/map.jpg" width="500" height="500""/>

 <div class="footer">
        <div class="head">
            友情链接：
        <a href="http://www.nhc.gov.cn/">中华人民共和国国家卫生健康委员会&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>

            <a href="http://wsjsw.qingdao.gov.cn/n28356065/index.html">青岛市卫生健康委员会&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
             <a href="http://www.cams.ac.cn/">中国医学科学院&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
             <a href="http://upc.edu.cn/">中国石油大学（华东）官方网站&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        </div>
         <hr style="background: #9F9F9F">
        <div class="bottom">
            <!-- Stack the columns on mobile by making one full-width and the other half-width -->
<div class="row">
  <div class="col-xs-12 col-md-8">
      关于我们
      <br>
            地址：山东省青岛市黄岛区长江西路66号中国石油大学（华东）,266000
            <br>
            服务热线：0532-12345678
  </div>
  <div class="col-xs-6 col-md-4">
      Copyright 2019 中国石油大学（华东）校医院 All Rights Reserved.
      <br>
      鲁ICP 备 0000000号-1 文保网安备案号：000000000 京卫网审字【2019】第0号
      <br>
      网站建设：智能机器人系统友情提供
  </div>
</div>


        </div>
    </div>
</body>

</html>